<div id="map" style="height: 80vh; width: 80vw;"></div>




<!-- <google-map
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
></google-map> -->


    <!-- <google-map [ngStyle]="{'margin':'0 auto'}"
        (mapClick)="click($event)"
        height="80vh"
        width="80vw"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
    > -->
        <!-- <map-marker
            #markerElem="mapMarker"
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            (mapDragend)="markerDragend($event)"
            (mapClick) ="openInfo(markerElem, marker.info)"
            >
        </map-marker> -->

        <!--    <map-polygon 
            [paths]="vertices" 
            [editable]="true" 
            [strokeColor]="'#FF0000'" 
            [strokeOpacity]= 0.8
            [strokeWeight]= 2
            [fillColor]= "'#FF0000'"
            [fillOpacity]= 0.35
            [clickable]="true"
        ></map-polygon> -->

        <!-- <map-info-window [ngStyle]="{'min-width':'300px'}">
            {{ infoContent }}
        </map-info-window> -->

        <!--  <map-polygon [paths]="vertices" [editable]="true"></map-polygon>  -->
   <!--  </google-map> -->

<!-- 
   <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=initMap&v=weekly" async
   ></script> -->


